<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./app.component.css">
  <title>Weather App</title>
</head>
<body class="body" [ngClass]="isHot ? 'conh' : 'conc' ">
  <div class="flex justify-center items-center">
    <div [ngClass]="isHot ? 'hot' : 'cold' " class="mt-[20px] w-[400px] p-6 min-h-[600px] rounded-md text-center">
        <input
          type="text"
          [(ngModel)]="cityName"
          (change)="handleFilter()"
          class="w-[90%] p-4 outline-none rounded-bl-lg rounded-tr-lg"
        />
  
      <h3 class="text-center text-white font-semibold text-3xl mt-8">
        {{infor.name}},{{infor.sys.country}}
      </h3>
      <span class="block mt-4 text-center text-white">{{ date | date:'medium' }}</span>
      <div
        style="background-color: rgba(255,255,255,0.6);"
        class="w-full mt-5 h-[150px] shadow-md rounded-[10px] flex justify-center items-center"
      >
        <div class="font-[800] text-[62px] text-white text-shadow drop-shadow-md" >
          <span>{{(infor.main.temp - 273).toFixed() }} ℃</span>
        </div>
      </div>
      <span class="block text-center text-white font-[700] text-[52px] mt-2"
        >{{description}}</span
      >
      <div class="flex justify-around items-center mt-16">
        <div class="text-center">
          <span class="block text-white text-base">
            <i class="far fa-eye"></i>
          </span>
          <span class="block text-white">{{infor.visibility}}m</span>
        </div>
  
        <div class="text-center">
          <span class="block text-white text-base">
            <i class="fas fa-wind"></i>
          </span>
          <span class="block text-white">{{infor.wind.speed}}m/s</span>
        </div>
  
        <div class="text-center">
          <span class="block text-white text-base">
            <i class="fas fa-cog"></i>
          </span>
          <span class="block text-white">{{infor.main.humidity}}%</span>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>
